/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

* {
  box-sizing: border-box;
}
html {
  background-color: #252527;
  max-width: 100%;
  min-height: 100%;
  position: relative;
}
body {
  margin: 0px;
  padding: 0px;
}
html::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px calc(max(50px, 3rem)) rgba(255, 255, 255, 0.25);
  pointer-events: none;
}
p,
a,
label,
input,
textarea,
button {
  /* https://www.sitepoint.com/eight-definitive-font-stacks-2/?_ga=2.261681806.221548906.1620436002-626617126.1619641332 */
  font-family: Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  font-weight: 300;
  color: white;
  font-size: 1rem;
}
p {
  line-height: 140%;
  text-shadow: 0 0.15rem 0.15rem #060606;
}
h1,
h2 {
  /* https://www.sitepoint.com/eight-definitive-font-stacks/?_ga=2.255914888.221548906.1620436002-626617126.1619641332 */
  font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif',
    'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
  font-weight: 400;
  margin: 0px;
  color: white;
  @media (max-width: 1024px) {
    text-align: center;
  }
}
h1{
  text-shadow: 0.5rem 0.5rem 0.15rem #060606;
}
h2{
  text-shadow: 0.25rem 0.25rem 0.075rem #060606;
}
a {
  text-decoration: underline;
  text-decoration-color: white;
}
/*  FONT SIZING QUERIES  */
@media (max-width: 420px) {
  html {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}
@media (min-width: 421px) {
  html {
    font-size: calc(1rem + 0.3vw);
  }
  h1 {
    font-size: calc(2.1rem + 0.3vw);
  }
  h2 {
    font-size: calc(1.8rem + 0.3vw);
  }
}
@media (min-width: 1921px) {
  html {
    font-size: calc(1rem + 0.6vw);
  }
  h1 {
    font-size: calc(2.1rem + 0.6vw);
  }
  h2 {
    font-size: calc(1.8rem + 0.6vw);
  }
}
/*  LAYOUT QUERIES  */

@media (max-width: 600px) {
  .contained {
    padding: 0px 0.75rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px){
  body {
    
  }
  .contained {
    padding: 0px calc(1rem + 5vw);
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .l_contained {
    margin-left: 6rem;
  }
  .header::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 2rem;
    height: 100%;
    background-color: #343434;
  }
}